<div class="container mx-auto">

    <div id=nav class="navbar bg-base-100">
        <div class="flex-1">
            <a class="navbar-brand" href="home">
                <img class="img-nav" src="https://cdn.pixabay.com/photo/2014/04/03/00/41/race-car-309123_960_720.png" alt="">
            </a>
        </div>
        <div *ngIf="isAuthenticated" class="flex-none">
            <ul class="menu menu-horizontal px-1">
                <li><a routerLink="/createproduct">Crear servicio</a></li>
                <li><a routerLink="/dashboard">Cotizar</a></li>
                <li><a routerLink="/sales">Lista de ventas</a></li>
                <li class="nav-item dropdown">
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/dashboard" target="_blank">Nuestros servicios</a></li>
                        <li><a class="dropdown-item" href="https://www.europamechanical.cl/agenda-tu-cita/">Agenda tu cita</a></li>
                        <li><a class="dropdown-item" href="https://www.europamechanical.cl/contacto/">Contacto</a></li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="flex-none">
            <div *ngIf="isAuthenticated" class="dropdown dropdown-end">

                <label tabindex="0" class="btn btn-ghost btn-circle" routerLink="/cart">
                    <div class="indicator">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg>

                    </div>
                </label>

            </div>
            <div *ngIf="isAuthenticated" class="dropdown dropdown-end">
                <label *ngIf="auth.user$ | async as user" tabindex="0" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img src="{{user.picture}}" />

                    </div>
                </label>
                <ul tabindex="0"
                    class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
                    <li>
                        <a class="justify-between" routerLink="/profile">
                            Profile
                            <span class="badge">New</span>
                        </a>
                    </li>
                    <li><a routerLink="/dashboard">Productos</a></li>
                    <li><a (click)="logout()">Logout</a></li>
                </ul>
            </div>

            <button *ngIf="!isAuthenticated" type="button" class="btn" (click)="login()">Ingresar</button>

        </div>
    </div>

</div>